---
Title: Cake.VsMetrics
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
    <h1>What is it?</h1>
    <p>
        Cake.VsMetrics is an Addin for Cake which can calculate code metrics using Visual Studio's metrics.exe tool.
    </p>
</div>
